.img {
    width: 200px;
}

.navbar-light .navbar-nav .nav-link {

    color: black !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #eb595f !important;
}

.bg-light {
    background-color: rgb(255, 255, 255) !important;
}

.font {
    font-size: 20px;
    margin-left: 20px;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.box {
    width: 650px;
    padding: 20px;
    border-radius: 20px !important;
    z-index: 10;
}

.box1 {
    width: 300px;
    padding: 20px;
    border-radius: 20px !important;
    z-index: 10;
}

.linkset {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.box2 {
    width: 900px;
    padding: 20px;
}

@media screen and (max-width:770px) {
    .box {
        width: auto;
        padding: 20px;
        border-radius: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .box2 {
        width: auto;
        padding: 20px;
    }

    .setcenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.setnav {
    width: 100%;
    height: auto;
    box-shadow: 14px 8px 18px -3px grey
}

@media screen and (max-width:1200px) {


    .dropdown-menu {
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: .5rem 0;
        margin: 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        margin-left: -190px !important;
    }



}

@media screen and (max-width:990px) {


    .dropdown-menu {
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: .5rem 0;
        margin: 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        margin-left: 0px !important;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .box2 {
        width: auto;
        padding: 20px;
    }

    .setcenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media screen and (max-width:992px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .box2 {
        width: auto;
        padding: 20px;
    }

    .setcenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width:400px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .box2 {
        width: auto;
        padding: 20px;
    }

    .setcenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .round {
        width: 220px !important;
        height: auto;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        padding: 10px;
    }
}


.round {

    width: 300px;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;

}

.img2 {
    width: 100px;
    height: 60px;
    border-radius: 10px;
}

.subtitle_default {
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
}

.subtitle_default1 {
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
}

.setcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size {
    color: #a0979e;
    font-size: 11px;
}

.round:hover {
    box-shadow: 0px 10px 11px -3px gray;
}

.linkset:hover {
    color: #eb595f;
}

.responsive {
    display: inline-block;

}